@{
    ViewData["Title"] = "Faculty Index";
}

<style>
    h1 {
        color: white;
    }

    .buttons {
        font-size: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    body {
        background-image: url('https://fisstorage1.blob.core.windows.net/fis123/Fisimage.jpg');
        background-repeat: no-repeat;
    }
</style>
<h1>Welcome Faculty!</h1>
<br />
<br />
<div class="buttons">
    <div class="container1">
        <a asp-action="CreateGrants" asp-controller="Faculty" class="btn-outline-info">Add Grants</a><br /><br />
        <a asp-action="CreatePublications" asp-controller="Faculty" class="btn-outline-info">Add Publications</a><br /><br />
    </div>
    <div class="container2">
        <a asp-action="FacultyCredentials" asp-controller="Faculty" class="btn-outline-info">Update Login Credentials</a><br /><br />
        <a asp-action="UpdateFacultyInfo" asp-controller="Faculty" class="btn-outline-info">Update Personal Information</a><br /><br />
        <a asp-action="UpdatePublications" asp-controller="Faculty" class="btn-outline-info">Update Publications</a><br /><br />

    </div>
</div>

