@{
    ViewData["Title"] = "Faculty Index";
}

<style>
    h1 {
        color: white;
    }

    .buttons {
        font-size: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    body {
        background-image: url('https://thewallpaper.co/wp-content/uploads/2020/07/hd-desktop-plain-images-hd-desktop-wallpapers-cool-smart-phone-background-photos-download-widescreen-desktop-backgrounds-high-quality-colourful-1920x1200-1.jpg');
        background-repeat: no-repeat;
    }
</style>
<h1>Welcome Faculty!</h1>
<br />
<br />
<div class="buttons">
    <div class="container1">
        <a asp-action="CreateGrants" asp-controller="Faculty" class="btn-outline-info">Add Grants</a><br /><br />
        <a asp-action="CreatePublications" asp-controller="Faculty" class="btn-outline-info">Add Publications</a><br /><br />
        <a asp-action="UpdateSubject" asp-controller="Faculty" class="btn-outline-info">Update Subject</a><br /><br />
    </div>
    <div class="container2">
        <a asp-action="FacultyCredentials" asp-controller="Faculty" class="btn-outline-info">Update Login Credentials</a><br /><br />
        <a asp-action="UpdateFacultyInfo" asp-controller="Faculty" class="btn-outline-info">Update Personal Information</a><br /><br />
        <a asp-action="UpdateSubject" asp-controller="Faculty" class="btn-outline-info">Update Subject</a><br /><br />
    </div>
</div>

